.cabecera {
    background-color: aqua;
}
/* estilos barra de navegacion */
.navbar {
    display: flex;
}
.navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(209, 0, 2);
}

.navbar li {
    height: 50px;
    margin-right: 2.5%;
}

.navbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 4px solid transparent;
}

.navbar a:hover {
    text-shadow: 1px 0 0 currentColor;
}

a {
    color: red;
    font-family: sans-serif;
    font-size: 10px;
}

.cuadro_der {
    max-width: 800px;
    padding: 10px;
    margin-left: 400px;
}

.subtitulo1 {
    text-align: left;
    margin-bottom: 80px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.subtitulo2 {
    text-align: left;

    font-family: sans-serif;
}

.fondo {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.texto {
    position: absolute;
    top:20%;
    left: 20%;
    bottom: 50%;
    border-left: 2%;
    border-color: red;
    border-width: 2%;
    width: fit-content;
    height: fit-content;
}