.cabecera {
    background-color: aqua;
}
/* estilos barra de navegacion */
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(209, 0, 2);
    padding: 0 10px;
}

.logo img {
    height: 50px; 
    margin-left: 80px; 
}

.navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(209, 0, 2);
}

.navbar li {
    height: 50px;
    margin-right: 2.5%;
}

.navbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 4px solid transparent;
}

.navbar a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.nota {
    font-family: sans-serif;
    font-size: 15px; 
    border-left: 5px solid red;
    padding-left: 1%;      
    margin-left: 45%;
    margin-right: 10%;

}
.efp {
    color: red;
    font-family: sans-serif;
    font-size: 10px;
}

.cuadro_der {
    padding: 10px;
    margin-left: 45%;
}

.subtitulo1 {
    text-align: left;
    margin-bottom: 80px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 550;
}

.subtitulo2 {
    text-align: left;
    font-family: sans-serif;
}

.fondo {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.texto {
    position: absolute;
    top: 20%;
    left: 5%;
    height: auto;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(235, 235, 235);
    border-left: 10px solid red;
    padding-left: 2%;
    text-shadow: 2px 2px 4px #000;
    margin-right: 15%;
}


.caja_rrss {
    float: right;
    width: 25%;
    padding: 1%;
    position: relative;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

